<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Todo App</title>
	<link rel="stylesheet" href="static/css/normalize.css">
	<link rel="stylesheet" href="static/css/semantic.min.css">
	<script src="static/js/vendor/modernizr.js"></script>
	<script data-main="static/js/main" src="static/js/vendor/require.js"></script>
  </head>
  <body>
    <div class="ui grid">
	  <div class="six wide column">
      </div>
	  <div class="ten wide column">
        <h1 class="ui header">To Do App</h1>
      </div>
	</div>
	<div class="ui grid">
	  <div class="four wide column">
      </div>
	  <div class="eight wide column">
		<div id="main">
		  <!-- Content goes here -->
		</div>
	  </div>
	  <div class="four wide column">
      </div>
    </div>
	<script src="static/js/vendor/jquery.js"></script>
  	<script src="static/js/vendor/semantic.min.js"></script>
  </body>
</html>